<%- include("header.ejs") %>
<div class="container mt-2 p-2 d-flex justify-content-between gap-3">
  <div class="col-lg-6 col-md-6 bg-danger-subtle p-3 col-sm-12 mt-3">
    <h1>
      20 Fascinating Facts About Lyon, France: The Heart of Culture and Industry
    </h1>
    <p>
      Lyon, often overshadowed by Paris and Marseille, is a city brimming with
      history, art, culture, and innovation. Nestled at the confluence of the
      Rhône and Saône rivers, it offers a unique blend of old-world charm and
      modern dynamism. Whether you’re a history buff, a food lover, or a lover
      of art, this French gem has …<br /><br />
      <input
        type="button"
        value="View Posts"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />
    </p>
  </div>
  <div class="col-lg-6 m-3 col-md-6 bg-danger-subtle p-3 col-sm-12 mt-3">
    <h1>Who is Adam?</h1>
    <p>
      Travels of Adam - BlogI quit my job as a graphic designer to travel the
      world and write a blog. Since then I’ve lived in Berlin, Tel Aviv, London,
      Sydney, Boston, Dallas, and most recently: New York City (Brooklyn, obvs).
      On my travel blog, you’ll find my gay stories, nightlife tips, restaurant
      reviews, favorite shops, and way-too-personal essays from my adventures in
      Brooklyn, NYC and around the world. Curious? Read how Iceland changed my
      life…
    </p>
  </div>
</div>
<div class="container">
  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>

  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>

  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>

  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>

  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>

  <div class="container p-3 d-flex justify-content-between gap-3 align-center">
    <img
      class="img-fluid img-thumbnail"
      width="200px"
      height="150px"
      src="/images/pride.jpg"
      alt="image"
    />
    <div class="p-3 pt-5">
      <h1>Why Pride Matters</h1>
      <p class="fs-3">
        A short treatise on why gay pride matters. They’re not just
        self-indulgent parties but important cultural events in the history of
        gay culture <br>
        <input
        type="button"
        value="Read More"
        class="btn btn-danger border shadow"
        onclick="window.location.href='/viewPost'"
      />  
      </p>
      
    </div>
  </div>
</div>
<%- include("footer.ejs") %>
