<%- include("partials/header.ejs") %>

<div class="container p-4 mt-4">
  <div class="card shadow bg-danger-subtle">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Create New Post</h2>
      <form action="/createPost" method="POST">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Enter post title:"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Author Name:</label>
          <input
            type="text"
            name="nameAuthr"
            class="form-control"
            placeholder="Enter Your Name:"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Content</label>
          <textarea
            name="content"
            class="form-control"
            rows="8"
            placeholder="Write your post content here..."
            required
          ></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-danger px-4">
            Publish Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
